<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KolRoam About</title>
    <link rel="stylesheet" href="css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Handjet:wght@300&family=IBM+Plex+Mono:wght@500&family=Playpen+Sans&family=Poppins:wght@100;200&family=Source+Code+Pro:ital,wght@1,200&family=Ysabeau+SC:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Handjet:wght@300&family=IBM+Plex+Mono:wght@500&family=Poppins:wght@100;200&family=Source+Code+Pro:ital,wght@1,200&family=Ysabeau+SC:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"
</head>
<body>
    <div id="nav">
        <img src="/images/KolTour2.png" alt="Logo">
        <button id="menu-toggle">&#9776;</button>
        <div id="nleft">
            <a href="/">HOME</a>
            <a href="/places">PLACES</a>
            <a href="/login">POST</a>
            <a href="/gallery">GALLERY</a>
            <a href="/about">ABOUT</a>
        </div>
    </div>

    <div class="about-top">
        <div class="content">
            <div class="left">
                <div class="left-text">
                    <h2>Welcome to KolRoam, where our journey mirrors the very spirit of Kolkata—bold, vibrant, and deeply rooted in tradition. Discover the story behind the pixels as we unveil the narrative that inspired the creation of this digital haven.</h2><br>
                    <p>KolRoam takes you beyond the obvious, showcasing not just places, but stories. KolRoam is a tribute to Kolkata's essence, narrated through its architecture, flavors, and the warmth of its people.</p><br>
                    <p>KolRoam is more than a platform—it's a narrative crafted with pixels and passion. On our About page, meet the architects of this virtual realm, understand the philosophy that propels us, and join the community that shares our love for Kolkata.</p><br>
                    <p>At KolRoam, we extend our heartfelt gratitude to the talented photographers whose lens captured the essence of Kolkata featured on our platform. Their artistry enriches our digital journey, and we acknowledge and appreciate their invaluable contributions to the visual tapestry of KolRoam.</p>
                    <br>
                    <p>For the intrepid explorers seeking the pulse of Kolkata, KolRoam is your virtual tour guide. Navigate the vibrant streets, savor the local flavors, and immerse yourself in the cultural mosaic of this incredible city.</p><br>
                    
                </div>
            </div>
            <div class="right">
                <div class="right-img">
                    <img src="images/KolTour2.png" alt="">
                </div>
                
            </div>
            <div class="dev">
                <div class="bottom-img">
                    <img src="/images/WhatsApp Image 2023-10-12 at 2.52.07 PM.jpeg" alt="">
                        
                </div>
                <div class="left-text"><h3>MEET THE DEV</h3>
                    <br>
                    <h3>AYMAAN SHABBIR</h3>
                    <br>
                    <p>Aymaan Shabbir, is pursuing B.Tech(CSE-DS) from FIEM , Kolkata.
                         Developer and Designer of KolRoam.</p>
                    <p>"As the designer of KolRoam, I envisioned a virtual space that mirrors the bold and vibrant essence of Kolkata. The design choices, from the layout to the smallest details, were carefully curated to provide a visually immersive experience for our users."</p><br>
                    <p>CONNECT WITH DEV :</p><br>
                    <div class="connect"><a href="https://www.facebook.com/aymaan.shabbir.1">
                        <i class="fa fa-facebook"></i></a>
                        <a href="https://instagram.com/aymaan_shabbir?igshid=NGVhN2U2NjQ0Yg=="><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/aymaan-shabbir-012417270?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin"></i></a>
                        <a href="mailto:aymaanshabbir27@gmail.com">
                            <i class="ri-mail-fill"></i></a>
                    </div>
                   
            </div>
                   
            </div>
        </div>
    </div>

    
    <script src="js/about.js"></script>
</body>
</html>
