<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Successfully uploaded</title>
    <link rel="stylesheet" href="../css/success.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Comic+Neue:wght@700&family=Handjet:wght@300&family=IBM+Plex+Mono:wght@500&family=Play&family=Playpen+Sans&family=Poppins:wght@100;200&family=Source+Code+Pro:ital,wght@1,200&family=Ysabeau+SC:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="nav">
      <img src="./images/KolTour2.png" alt="Logo" />
      <button id="menu-toggle">&#9776;</button>
      <div id="nleft">
        <a href="/">HOME</a>
        <a href="/places">PLACES</a>
        <a href="/login">POST</a>

        <a href="/gallery">GALLERY</a>
        <a href="/about">ABOUT</a>
      </div>
    </div>

    <h1
      style="
        text-align: center;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
      "
    >
      <%= message %>
    </h1>

    <script src="js/success.js"></script>
  </body>
</html>
