html , body{
    width: 100%;
    height: 100%;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background: url(/images/gallerybg1.png);
    background-position: center;
    background-size: cover;
    
    }
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
  
  
  .gallery{
    margin-top: 30vh;
  }
  
  #nav {
      /* background-color: #9b9898; */
    width: 100%;
    display: flex;
    
    overflow: auto;
    position: fixed;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
    }
    
    #nav img {
    height: 6rem;
    width: 6rem;
    margin-left:1rem ;
    
    filter: invert(1);
    }
    
    #nav a {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 2px;
    pointer-events: all;
    }
    
    #menu-toggle {
    color: #ffffff;
    display: none;
    cursor: pointer;
    /* margin-right: 1rem; */
    font-size: 1rem;
    background: none;
    border: none;
    }
    
    #nleft {
    display: flex;
    
    align-items: center;
    gap: 30px;
    }
    
   
    
    @media (max-width: 582px) {
    #nleft {
    display: none;
    }
    
    
    #menu-toggle {
    display: block;
    }
    }
    .about{
      background-color: rgb(255, 157, 0);
      
      display: flex;
      height: auto;
      width:100%;
      margin-top: 17vh;
    }
    .about h4{
     font-family:  'Courier New';
     color: azure;
     width:100%;
     padding: 2vh;
     font-weight: 900;
    }
  
    .card-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 5vh 0;
      
      position: relative;
    }
  
    .card {
      width: 40vh;
      margin: 2vh;
      border: 1px solid #ccc;
      background-color:#613864;
      border-radius: 2vh;
      overflow: hidden;
      position: relative;
    }
  
    .card img {
      width: 100%;
      height: auto;
      position: relative;
      object-fit: cover;
    }
  
    .like-btn {
      position: absolute;
      bottom: 1vh;
      right: 1vh;
      cursor: pointer;
    }
  
    .like-btn i {
      color: #ffffff;
      font-size: 3vh;
    }
  
    .star-popup {
      position: absolute;
      color: #ffffff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0.9;
      display: none;
    }
  
    .user-info {
      display: flex;
      align-items: center;
      padding: 1vh;
      color: #ffffff;
    }
  
    .user-info img {
      width: 3vh;
      height: 3vh;
      border-radius: 50%;
      margin-right: 1vh;
    }
  
    .text-area {
      color: #ffffff;
      padding: 1vh;
      margin: 2vh;
    }
  
    .like-count {
      position: absolute;
      color: #ffffff;
      /* margin-top: 2vh; */
      bottom: 3vh;
      right: 4vh;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
