html,
body {
  width: 100%;
  height: 100%;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  background: url(/images/post.bg.png);
  background-position: center;
  background-size: cover;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery {
  margin-top: 30vh;
}

#nav {
  /* background-color: #9b9898; */
  width: 100%;
  display: flex;

  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px;
}

#nav img {
  height: 6rem;
  width: 6rem;
  margin-left: 1rem;

  filter: invert(1);
}

#nav a {
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 2px;
  pointer-events: all;
}

#menu-toggle {
  color: #ffffff;
  display: none;
  cursor: pointer;
  /* margin-right: 1rem; */
  font-size: 1rem;
  background: none;
  border: none;
}

#nleft {
  display: flex;

  align-items: center;
  gap: 30px;
}

@media (max-width: 600px) {
  #nleft {
    display: none;
  }

  #menu-toggle {
    display: block;
  }
}
.content {
  width: 100%;

  margin-top: 25vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 125, 101);
}
.content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vh;
  padding: 1vh;
  background-color: rgb(53, 125, 101);
}
.content form label,
input {
  font-family: "Play", sans-serif;
  font-size: 2vh;
  margin: 0.5vh;
  font-weight: 900;
}
.content h1 {
  font-family: "Play", sans-serif;
  font-size: 4vh;

  font-weight: 900;
}
.content p {
  font-family: "Play", sans-serif;
  font-size: 2vh;

  font-weight: 900;
}
.content button {
  font-family: "Play", sans-serif;
  font-size: 1vh;
  padding: 1vh;
  background-color: black;
  color: #ffffff;
}
